//       utils
@import "./utils/visually-hiden";
@import "./utils/variables";
@import "./utils/mixins";

//       base
@import "./base/common";
@import "./base/container";

//       components
@import "./components/logo";
@import "./components/modal";
@import "./components/section";
@import "./components/social-links";
@import "./components/undertitle";
@import "./components/list";
@import "./components/features";
//@import "./components/backdrop";
//@import "./components/description";
//@import "./components/modal-btn";

//       layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/work";
@import "./layout/command";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/total";
@import "./layout/article";
//@import "./layout/about";
//@import "./layout/services";
//@import "./layout/about";
//@import "./layout/services";
//@import "./layout/contact";
