/* ------секция 4--------------- */
.command-list {
  display: flex;
  align-items: center;
  text-align: center;
  .command-article:not(:last-child) {
    margin-right: 30px;
  }
  .command-article {
    background-color: var(--active-color);
	 border-radius: 0px 0px 4px 4px;
	 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);}
    .social-list {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      margin-bottom: 30px;
    }
  }


.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--active-color);
  border-radius: 50%;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
  &:focus .social-icon,
  &:hover .social-icon {
    fill: var(--active-color);
  }
}
/* ДИНАМИКА ЦВЕТА ССЫЛКИ И КАРТИНКИ */

/* -------------------------- */
.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.command-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.command-text {
  font-style: normal;
  font-weight: 400l;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
