
.work-list {
  display: flex;
  align-items: center;
}
.command-list {
  display: flex;
  align-items: center;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
