/*..............backdrop.......... */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  &.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
}

/* --------------форма--------- */

 .modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--active-color);
  transition: transform 250ms linear;
  .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--active-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover .icon-close {
  fill: var(--accent-color);
}
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font: weight 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--basic-color);
  margin-bottom: 12px;
}
// .modal_form {
//   display: flex;
//   flex-direction: column;
  
  
// }

.modal_form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  outline: none;
  border-color: var(--accent-color);
}
  &:hover + .modal_form-icon,
  &:focus + .modal_form-icon {
  fill: var(--accent-color);
}
}
.modal_form-label {
  display: block;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  .modal_form-span {
	display: block;
	position: relative;
	margin-top: 4px;

 }
}
.modal_form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_form-feedack {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  resize: none;
  &:hover,
  &:focus {
  outline: none;
  border-color: var(--accent-color);
}
}



.modal_form-feedack::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}
.modal_form-consent:checked + .modal_form-chek::before {
  background-image: url(../imaiges-svg/icon-check.svg);
  border: 0;
}
.modal_form-chek::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background-size: cover;
  background-position: center;
  border: 1px solid #212121;
  margin-right: 8px;
}
.modal_form-chek {
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  color: #757575;
}
.modal_form-link {
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17px;
  text-decoration-line: underline;
  color: #2196f3;
}
.modal_form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;}
}
