.list {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}
.command {
	@extend %padding;
  background-color: #f5f4fa;
}
.clients {
	@extend %padding;
}
footer {
  display: block;
  background-color: var(--hero-color);
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
}
//     portfolio
.total {
  align-items: center;
  @extend %padding;
}
