.header .container {
    display: flex;
    align-items: center;
}

.hero.container {
    display: block;
    width: 100%;
    padding: 118px 60px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero.container {
        // width: 768px;
        padding: 118px 204px;
    }
}
@media screen and (min-width: 1200px) {
    .hero.container {
        //     max-width: 1600px;
        padding: 200px 0;
        margin-bottom: 98px;
    }
}
.list.container {
    display: block;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .list.container {
        width: 768px;
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .list.container {
        width: 1200px;
        display: flex;
        margin-bottom: 94px;
        margin-top: 94px;
        justify-content: center;
    }
}
.container.footer {
    display: flex;
    justify-content: space-between;
}
.items {
    margin-bottom: 50px;
}
