//     colors
:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --basic-color: #212121;
  --active-color: #ffffff;
  --hero-color: #2f303a;
}
//       for fonts

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--active-color);
}
.nav-mail,
.nav-phone {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--text-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--active-color);
  min-width: 696px;
  padding-bottom: 30px;
}

.text-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.work-caption,
.command-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 50px;
}
.command-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.command-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.text-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-bottom: 9px;
}
.footer-mail,
.footer-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.title-right {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-bottom: 20px;
}
.footer-form-labe::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer_form-btn {
  position: relative;
  height: 50px;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.btn {
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  padding: 6px 22px;
  height: 38px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--active-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.article-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
  padding-bottom: 4px;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font: weight 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--basic-color);
  margin-bottom: 12px;
}
.modal_form-label {
  display: block;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}
.modal_form-feedack::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}
.modal_form-chek {
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  color: #757575;
}
.modal_form-link {
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17px;
  text-decoration-line: underline;
  color: #2196f3;
}
.modal_form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
}
